body{
background: #f5faf5;
}

div {
    background: none repeat scroll 0 0 white;
    border: 1px solid #D4D4D4;
    /*box-shadow: -7px 3px 8px #A3A3A3;*/
    font-family: monospace;
    font-size: 14px;
    margin: 0 6px 0 33px;
    padding-right: 2px;
}

div.sel {
  /*box-shadow: none;*/
  border: none;
  margin: 0px;
  padding-left: 3px;
}

div.arg {
  margin: 15px;
  float: left;
}

div:hover.sel {
  background: lightblue;
}

span {
  font-weight: bold;
  color: #930084;
  padding: 4px;
}

span.type {
  font-weight: normal;
  font-size: 11px;
  color: #CB58C0;
}

span.arrow {
  color: darkblue;
  font-weight: normal;
}

span.purple {
  color: purple;
  font-weight: normal;
  padding: 0;
}